html, * {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: lemonchiffon;
    /* margin: 10px; */
    display: flex;
    padding: 25px;
    
}

header li {
  display: inline;
  margin: 0 8px;
  
}

header li:hover {
    background-color: white;
    text-decoration: red;
}

header ul { 
    align-self: flex-end;
     /* float: right; ????? */
    /* justify-content: right; Doesn't work  */

}

header a {
    text-decoration: none;
    color: black;
    
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside {
    width: 40%;
}

section {
    width: 90%;
    margin: 50px;
}

aside img {
    float: left;
    padding: 25px;
}

div {
    margin: 25px;
    /* border: 5px lightslategrey solid; */
/* HOW DO I FIX THIS ISSUE!!!  */
    padding: 20px;
}

div h2 {
    float: left;
    margin-right: 10px;
}

#work h2 {
    margin-right: 20px;
}

#horiseon, #comingsoon {
    margin: auto;
    list-style-type: none;
}

#contlinks {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   flex-wrap: wrap;
}

#contlinks a {
    text-decoration: none;
    color: black;
}

#contlinks a:hover {
    background-color: lemonchiffon;
    color: tomato;
}

footer {
    background-color: lemonchiffon;
    text-align: center;
    padding: 25px;
}