* {
    margin: 0;
 
}
header {
    background-color: lemonchiffon;
    margin: 10px;
    display: flex;
    padding: 10px;
    
}

header li {
  display: inline;
  margin: 0 8px;
  
}

header ul { 
    align-self: flex-end;
     /* float: right; ????? */
}

header a {
    text-decoration: none;
    
}

section {
    margin: 50px;
}

img {
    float: left;
    padding: 10px;
}

div {
    margin: 25px;
    border: 5px lightslategrey solid;
    padding: 20px;
}

div h2 {
    float: left;
    margin-right: 10px;
}

#work h2 {
    margin-right: 20px;
}

#contlinks {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
}

footer {
    background-color: lemonchiffon;
    text-align: center;
    padding: 25px;
}